:root {
  // PRIMARY COLOR
  --c-primary-50: 128, 255, 191;
  --c-primary-100: 102, 255, 179;
  --c-primary-200: 77, 255, 166;
  --c-primary-300: 51, 255, 153;
  --c-primary-400: 26, 255, 140;
  --c-primary-500: 0, 255, 127;
  --c-primary-600: 0, 230, 115;
  --c-primary-700: 0, 204, 102;
  --c-primary-800: 0, 179, 89;
  --c-primary-900: 0, 153, 77;

  // SECONDARY COLOR
  --c-secondary-50: 240, 253, 250;
  --c-secondary-100: 204, 251, 241;
  --c-secondary-200: 153, 246, 228;
  --c-secondary-300: 153, 246, 228;
  --c-secondary-400: 45, 212, 191;
  --c-secondary-500: 20, 184, 166;
  --c-secondary-600: 13, 148, 136;
  --c-secondary-700: 15, 118, 110;
  --c-secondary-800: 17, 94, 89;
  --c-secondary-900: 19, 78, 74;

  // NEUTRAL COLOR
  --c-neutral-50: 249, 250, 251;
  --c-neutral-100: 243, 244, 246;
  --c-neutral-200: 229, 231, 235;
  --c-neutral-300: 209, 213, 219;
  --c-neutral-400: 156, 163, 175;
  --c-neutral-500: 107, 114, 128;
  --c-neutral-600: 75, 85, 99;
  --c-neutral-700: 55, 65, 81;
  --c-neutral-800: 31, 41, 55;
  --c-neutral-900: 17, 24, 39;
}
